.row
  %h4.col-md-6= link_to_unless(edit, resource.created_at.strftime('%A, %d %b %Y'), cost_path(id: resource.id))
  %h4.col-md-6= t('application.total', price: all_operation_from_period(resource.purchases))
- if edit
  .row
    .col-md-12= render 'purchases/form', product: @cost.purchases.build, cost_id: @cost.id
- if resource.purchases.any?
  .row
    .col-md-12
      %table.table.table-condensed
        %thead
          %tr
            %th= t('application.name')
            %th= t('application.manufacturer')
            %th= t('application.kind')
            %th= t('application.weight')
            %th= t('application.unit_price')
            %th= t('application.price')
            %th
          - resource.purchases.each do |purchase|
            - if purchase.persisted?
              %tbody
                %tr
                  %td= purchase.product.name
                  %td= purchase.product.manufacturer
                  %td= purchase.product.kind
                  %td= purchase.weight
                  %td= purchase.unit_price
                  %td= purchase.price
                  %td= link_to 'X', purchase_path(id: purchase.id), method: 'delete', data: {confirm: t('application.confirm')}
