- if @current_period_costs
  .row
    .col-md-12
      - @current_period_costs.each do |current_period_cost|
        = link_to cost_path(id: current_period_cost.id) do
          = render 'cost_card', resource: current_period_cost
      .col-sm-6.col-md-4.col-lg-2.cost-card
        = render 'form', product: current_user.costs.build
  .row
    .col-md-12
      #accordion.panel-group{"aria-multiselectable" => "false", :role => "tablist"}
        .panel.panel-warning
          .panel-heading{role: "tab", id: "cost_title_#{t('application.archive')}" }
            %h4.panel-title
              %a{"aria-controls" => "coolapse_cost_#{t('application.archive')}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coolapse_cost_#{t('application.archive')}"}
                .row
                  .col-md-6= t('application.archive')
          .panel-collapse.collapse{"aria-labelledby" => "cost_title_#{t('application.archive')}", :role => "tabpanel", id: "coolapse_cost_#{t('application.archive')}" }
            - @all_costs.each_key do |period|
              .panel.panel-warning.col-md-3
                =link_to period, costs_path(date: period)
