.row
  %h4.col-md-6= @cost.created_at.strftime('%A, %d %b %Y')
  %h4.col-md-6= t('application.total', cost: all_costs_from_day(@cost.purchases))
.row
  .col-md-12= render 'purchases/form', product: @cost.purchases.build, cost_id: @cost.id
.row
  .col-md-12
    %table.table.table-condensed
      %thead
        %tr
          %th= t('application.name')
          %th= t('application.manufacturer')
          %th= t('application.kind')
          %th= t('application.weight')
          %th= t('application.price')
          %th= t('application.unit_price')
          %th
        - @cost.purchases.each do |purchase|
          - if purchase.persisted?
            %tbody
              %tr
                %td= purchase.product.name
                %td= purchase.product.manufacturer
                %td= purchase.product.kind
                %td= purchase.weight
                %td= purchase.price
                %td= purchase.unit_price
                %td= link_to 'X', purchase_path(id: purchase.id), method: 'delete', data: {confirm: t('application.confirm')}
