= simple_form_for product do |f|
  .col-md-3= f.input :price
  .col-md-3= f.input :reporting_period, as: :string, input_html: {class: 'datepicker'}
  .col-md-3= f.input :description
  .col-md-3= f.submit t('application.add'), class: "btn btn-default add_purchase"
