.row
  - if create
    .col-md-12= render 'form', product: current_user.incomes.build
.panel.panel-default
  %table.table.table-condensed
    %thead
      %tr
        %th= t('application.price')
        %th= t('application.reporting_period')
        %th= t('application.description')
        %th
    %tbody
      - incomes_collection.each do |income|
        %tr
          %td= number_to_currency(income.price)
          %td= income.reporting_period
          %td= income.description
          %td= link_to 'X', income_path(id: income.id), method: 'delete', data: {confirm: t('application.confirm')}
