.row
  .col-md-12= render 'form', product: Income.new
- @incomes.each do |income|
  .row
    .col-md-12
      %table.table.table-condensed
        %thead
          %tr
            %th= t('application.price')
            %th= t('application.month')
            %th= t('application.description')
            %th
        %tbody
          %tr
            %td= income.price
            %td= income.month
            %td= income.description
            %td= link_to 'X', income_path(id: income.id), method: 'delete', data: {confirm: t('application.confirm')}
