= render 'incomes_card', incomes_collection: @incomes_per_current_month, create: true
- @incomes.each_pair do |period, incomes|
  .row
    .col-md-12
      #accordion.panel-group{"aria-multiselectable" => "false", :role => "tablist"}
        .panel.panel-default
          .panel-heading{role: "tab", id: "income_title_#{period.gsub(/\s/, '')}" }
            %h4.panel-title
              %a{"aria-controls" => "coolapse_income_#{period.gsub(/\s/, '')}", "aria-expanded" => "false", "data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#coolapse_income_#{period.gsub(/\s/, '')}"}
                .row
                  .col-md-6= period
                  .col-md-4
                  .col-md-2= t('application.total', price: number_to_currency(all_operation_from_period(incomes)))
          .panel-collapse.collapse{"aria-labelledby" => "income_title_#{period.gsub(/\s/, '')}", :role => "tabpanel", id: "coolapse_income_#{period.gsub(/\s/, '')}" }
            = render 'incomes_card', incomes_collection: incomes, create: false
