= simple_form_for product, url: products_path do |f|
  = f.input :name
  = f.input :kind
  = f.input :manufacturer
  = f.input :description
  = f.input :weight
  = f.input :calories
  = f.input :fats
  = f.input :proteins
  = f.input :carbohydrates
  = f.input :vitamin_a
  = f.input :vitamin_b1
  = f.input :vitamin_b2
  = f.input :vitamin_b3
  = f.input :vitamin_b4
  = f.input :vitamin_b5
  = f.input :vitamin_b6
  = f.input :vitamin_b7
  = f.input :vitamin_b9
  = f.input :vitamin_b10
  = f.input :vitamin_b11
  = f.input :vitamin_b12
  = f.input :vitamin_b13
  = f.input :vitamin_b15
  = f.input :vitamin_c
  = f.input :vitamin_d
  = f.input :vitamin_e
  = f.input :vitamin_k
  = f.input :vitamin_n
  = f.input :vitamin_p
  = f.input :vitamin_u
  = f.input :calcium
  = f.input :iron
  = f.input :potassium
  = f.input :copper
  = f.input :manganese
  = f.input :magnesium
  = f.input :sodium
  = f.input :sulfur
  = f.input :silicon
  = f.input :zinc
  = f.input :selenium
  = f.input :chrome
  = f.input :iodine
  = f.submit
