!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "NOODP", :name => "ROBOTS"}/
    %meta{:content => "initial-scale=1", :name => "viewport"}/
    %title Family accounting
    = stylesheet_link_tag :application, media: "all", 'data-turbolinks-track' => true
    = javascript_include_tag :application, 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    #wrap
      %header
      .container-fluid
        .row
          .col-sm-6.col-sm-offset-3.text-center
            = render 'flashes'
        .row
          .col-sm-2
            = render 'navigation'
          .col-sm-7.main-part
            = yield
          .col-sm-3.right-part
            = render 'today_analytics'
    = render 'javascript'
